<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <clear />
    <add key="pagarme-key" value="ak_test_TSgC3nvXtdYnDoGKgNLIOfk3TFfkl9"/><!-- default -->
    <add key="pagarme-enc-key" value="ek_test_UT6AN4fDN3BCUgo6kxUiOq6S20dbKc"/><!-- default -->
  </appSettings>
</configuration>